<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %} {% endblock %} - Super-Denigma</title>
		<meta name="viewport" content="width=device-width initial-scale=1" />
		<link href="{{ url_for('static', filename='CSS/base.css') }}" rel="stylesheet">
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<select onchange="navigateTo(this.value)">

			<option disabled selected>Select cipher</option>
			{% for endpoint in endpoints %}
			<option value="{{ endpoint[0] }}">{{ endpoint[1] }}</option>
			{% endfor %}

		</select>

		</select>
		{% block body %}
		{% endblock %}
		<script>
			function navigateTo(src) { window.location = src; }
		</script>
	</body>
</html>
