{% extends "base.html" %}

{% block title %} Phone Code {% endblock %}

{% block body %}

	<div class="boxedArea" id="inputArea">
		<form action="" method="POST" id="inputForm">
			<label for="seperator">Text seperating series of numbers (space is default, check box for repeating).</label>
			<br>
			<input type="text" name="seperator">
			<input type="checkbox" name="repeats" value="True">
			<br>
			<label for="alphabet">The cipher text to decode.</label>
			<br>
			<textarea placeholder="Insert cipher text here" id="textbox" name="cipherText"></textarea>
			<br>
			<input type="submit" name="solve" value="Solve" class="button">
		</form>
	</div>

	{% if solution %}
	<div class="boxedArea" id="solutionField">
		<h1> {{ solution }} </h1>
	</div>
	{% endif %}

{% endblock %}
