{% extends "base.html" %}

{% block title %} Shift Ciphers {% endblock %}

{% block head %} 
	<link href="{{ url_for('static', filename='CSS/tables.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<form action="" method="POST">
		<input type="checkbox" name="wholeAlfabetRange" value="True">
		<input type="number" name="shiftCount" value="3" min="1" max="1000">
		<input type="text" name="alfabet" value="abcdefghijklmnopqrstuvwxyzæøå">
		<textarea placeholder="Insert cipher text here" id="textbox" name="cipherText"></textarea>
		<input type="submit" name="solve" value="Solve" class="button">
	</form>

	<div id="solutionField">
		{% if solutions %}
			<table>
				<tr>
					<th>Shift Count</th>
					<th>Solution</th>

				</tr>

				{% for solution in solutions %}
					<tr>
						<td> {{loop.index - 1 }}
						<td>{{ solution }}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		{{ solution }}
	</div>

<script src="{{ url_for('static', filename='JS/shiftCipher.js') }}"></script>

{% endblock %}
